<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project 2</title>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />>
  <!-- our css -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <!--Chart.js  https://www.chartjs.org/docs/latest/-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Ohio, Eat Your Heart Out!</h1>
      <p class="lead">Restaurants in the central Ohio area organized by price range ($-$$$$)</p>
      <hr class="my-4">
      <p>MongoDB to store database, PyMongo to connect database, Flask API to render JSON, D3/Leaflet/Chart.js/Plotly/Mapbox/Bootstrap to generate visuals</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <div id="map"></div>
      </div>
      <!-- <div class="col-md-3">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Price</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">$</a>
          <a class="dropdown-item" href="#">$$</a>
          <a class="dropdown-item" href="#">$$$</a>
          <a class="dropdown-item" href="#">$$$$</a>
        </div> -->
    </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="card" id="restaurant-info">
          <h5><b>Name : </b></h5>
          <p class="output1"></p>
          <h5><b>City : </b></h5>
          <p class="output2"></p>
          <h5><b>Reviews : </b></h5>
          <p class="output3"></p>
        </div>
      </div>
      <!-- where gauge is inserted -->
      <div class="col-md-5">
        <div class="card">
          <div id="gauge">
            <h5 style="text-align: center"><b>Select Marker to Generate Rating Gauge</b></h5>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <h5 style="text-align: center"><b>Star Rating Categories Graph</b></h5>
          <div id="clearGraph">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h3 class="text-center">All Names of Restaurant by price range</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="card" id="restaurant-list">
          <p>Description</p>
        </div>
      </div>
    </div>
  </div>
  <!-- JS for bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!--Ploty-->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!--D3 cdn-->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <!-- API key -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="../static/js/logic.js"></script>
</body>
<footer>Project2 - Ohio Restaurant Visualization: Jonathan Tran, Jung-Hsuan Lin, Luis Romano, Teresa Cashen</footer>
</html>